
.display-data{
    display: grid;
    gap: 0rem;
    grid-template-columns: 1fr 1fr;
    margin-right: 2rem;
    
    }
    .form-control{
        display: flex;
        gap: 1rem;
    }
    .signup-form {
        transform: translateY(100%);
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      }
      
      .signup-form.open {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0s; 
      }